<div
  class="p-10 bg-blue-500 text-white">
  <div>
    <nav
      class="flex justify-between font-bold">
      <a
        class="font-bold text-lg"
        href="">WeLearnCMS</a>
      <div>
        <ul
          class="flex gap-10">
          <li><a
              class="no-underline"
              (click)="onSelected('documents')">Documents</a></li>
          <li><a
              class="no-underline"
              (click)="onSelected('messages')">Messages</a></li>
          <li><a
              class="no-underline"
              (click)="onSelected('contacts')">Contacts</a></li>
        </ul>
      </div>
      <div>
        <div class="dropdown">
          <a appDropdown href="#" class="dropdown-toggle" role="button">User<span class="caret"></span></a>
          <ul
            class="text-black bg-white p-3 rounded dropdown-menu">
            <li><a
                class="no-underline -2"
                href="">Login</a></li>
            <li><a
                class="no-underline p2"
                href="">Other</a></li>
            <hr>
            <li><a
                class="no-underline p-2"
                href="">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>