<div
  class="border border-gray-300 rounded-2xl">
  <div
    class="flex justify-between bg-gray-300 border p-4 rounded-t-2xl">
    <h3>Contacts</h3>
    <button
      routerLink="new"
      class="text-white p-2 rounded-lg bg-green-700">New Contact</button>
  </div>
  <div 
    cdkDropList
    #contactList="cdkDropList"
    [cdkDropListData]="contacts"
    [cdkDropListConnectedTo]="dropTargets"
    class="contact-list">
    <div 
      *ngFor="let contact of contacts" 
      cdkDrag
      class="contact-item">
      <app-contact-item [contact]="contact"></app-contact-item>
    </div>
  </div>
</div>